<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jane Doette - Front-End Ninja</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        <div onclick="location.href='/blog';" style="cursor: pointer;" class="row">
          <div class="col-md-2">
            <img class="img-responsive head-logo pull-left" src="/images/udacity_logo.png" alt="Udacity image">
          </div>
          <div class="col-md-6 text-uppercase text-right pull-right">
            <h1 class="color-dark-blue text-light">little blog</h1>
            <h4>with a small backend</h4>
          </div>
        </div>
      </header>
      <div class="row">
        <div class="col-md-12">
          <hr class="header color-light-blue">
        </div>
      </div>
      <main>
        <div class="row">
          <div class="col-md-12">
            <img class="img-responsive" src="http://placekitten.com/1400/300" alt="Emotion kittens">
          </div>
        </div>
        <div class="row">

          <div class="col-md-12 text-right">
             
                {% if user %}
                  <a href="/newpost">new post</a> | 
                  {{user.name}} (<a class="login-link" href="/logout">logout</a>)
                {% else %}
                  <a class="login-link" href="/login">login</a>
                  |
                  <a class="login-link" href="/signup">signup</a>
                {% endif %}
              
          </div>
        </div>
      </main>
      <section id="main-content">
      <div class="row"></div>
        <div class="col-md-12">
          {% block content %}

          {% endblock %}
        </div> 
        
      </section>
      <footer>
        <div class="row"> 
          <div class="col-md-12">
            <hr class="footer color-light-blue">
          </div>
          <div class="col-md-12">
            <p class="text-right color-dark-blue">Jane Doette | Front-End Ninja | Living in Dreams</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

