<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>

    <div class="post-date">
      {{p.user.name}}
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content linebreak">
    {{p._render_text | safe}}
  </div>
  <div class="row">
      <a href="/delete/{{p.key().id()}}">delete</a> | 
      <a href="/like/{{p.key().id()}}">like</a> |
      <a href="/comment/{{p.key().id()}}">comment</a>
  </div>
</div>
